<div class="questions-block ">
	<div class="page-header">
  <h3>You may be eligible to lower your mortgage payments by refinancing. Would you like to answer a few questions to see if you qualify&#63; </h3>
</div>

  <div class=" card col col-md-12">
  <div class="card-block">
      
      <button type="button" (click)="nextQuestion('Yes')" class="btn btn-success btn-lg" >Yes</button>

      <button type="button" (click)="nextQuestion('No')" class="btn btn-danger btn-lg" ><input type="hidden" id="Userinput" value="No">No</button>
          
  </div>
</div>
</div>
