<div class="questions-block  ">
    <div class="page-header">
    <h3>Is you mortgage owned or guaranteed by Fannie Mae or Freddie Mac&#63;</h3>
  </div>
  <div class="card col-md-12">
    <div class="card-block">
     
  
    <button type="button" class="btn btn-success btn-lg" (click)="nextQuestion('Yes')" >Yes</button>
  
     <button type="button" class="btn btn-danger btn-lg" (click)="nextQuestion('No')">No</button>

     <button type="button" class="btn btn-warning btn-lg" (click)="nextQuestion('Not Sure')">Not Sure</button>
    </div>
  </div>
      </div>