<div class="questions-block " >
	<div class="page-header">
  <h3>A new job can help you increase your savings by increasing your income. You can also do this by lowering your overall expenses. Would you like to see how can lower your biggest expense&#63;</h3>
</div>
<div class="card col-md-12">
  <div class="card-block">
   

    <button type="button" (click)="nextQuestion('Yes')" class="btn btn-success btn-lg" ><input type="hidden" id="Userinput" value="Yes">Yes</button>
    <button type="button" (click)="nextQuestion('No')" class="btn btn-danger btn-lg" >No</button>
        
  </div>
</div>
</div>