<div class="questions-block ">
	<div class="page-header">
  <h3>What kind of property do you live in&#63;</h3>
</div>
<div class="card col-md-12">
  <div class="card-block">
   

  <button type="button" class="btn btn-success btn-lg" (click)="nextQuestion('Single Family')">Single Family</button>
   <button type="button" class="btn btn-warning btn-lg" (click)="nextQuestion('Multi Family')">Multi Family</button>
   <button type="button" class="btn btn-success btn-lg" (click)="nextQuestion('Condo')">Condo</button>
   <button type="button" class="btn btn-warning btn-lg" (click)="nextQuestion('Town Home')">Town Home</button>
   <button type="button" class="btn btn-success btn-lg" (click)="nextQuestion('Mobile Home')">Mobile Home</button>
      
  </div>
</div>
</div>