<div class="questions-block secondqq">
	<div class="page-header">
  <h3>What is your credit score &#63;</h3>
</div>
<div class="card col-md-12">
  <div class="card-block">
   

   <button type="button" class="btn btn-success btn-lg" (click)="nextQuestion('Excellent')">Excellent</button>
   <button type="button" class="btn btn-success btn-lg" (click)="nextQuestion('Good')">Good</button>
   <button type="button" class="btn btn-warning btn-lg" (click)="nextQuestion('Fair')">Fair</button>
   <button type="button" class="btn btn-danger btn-lg" (click)="nextQuestion('Poor')">Poor</button>
      
  </div>
</div>
</div>